* {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
}

h1 {
  font-size: 44px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul li {
  width: 550px;
  margin: 30px auto;
  list-style: none;
}

ul li a {
  color: #ffffff;
  display: inline;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: line-through;
}

ul li:first-child {
  background-color: #3b5998;
}
ul li:last-child {
  background: rgb(66, 133, 244);
  background: linear-gradient(
    90deg,
    rgba(66, 133, 244, 1) 0%,
    rgba(234, 67, 53, 1) 52%,
    rgba(251, 188, 5, 1) 100%
  );
}
ul li:nth-child(2) {
  background-color: #24292e;
}
